__pycache__/
*.py[cod]
*$py.class
*.so
quacky/
ABC/
z3/
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
Pipfile.lock
poetry.lock
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.ipynb_checkpoints
.history
.python-version
.mypy_cache/
.dmypy.json
dmypy.json
.vscode/
.DS_Store
*.log
